In [23]:
import os
import pandas as pd
import requests
from datetime import datetime
from dateutil.relativedelta import relativedelta
pd.set_option('display.max_columns', 30)

In [24]:
current_datetime = datetime.now() - relativedelta(months=8)
formatted_datetime = current_datetime.strftime('%Y-%m-%d')

url = f"https://data.cityofchicago.org/resource/wrvz-psew.json?$where=trip_start_timestamp >= '{formatted_datetime}T00:00:00' AND trip_start_timestamp <= '{formatted_datetime}T23:59:59'&$limit=30000"

headers = {'X-App-Token': os.environ.get('CHICAGO_API_TOKEN')}

response = requests.get(url, headers)

data = response.json()

In [25]:
len(data)

23014

In [26]:
taxi_trips = pd.DataFrame(data)

In [27]:
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,60849c0b02b3a7376fc197f0974e545940f9bacd,b649688173599f12325db808703dd3e14653807db2fdde...,2023-11-28T23:45:00.000,2023-11-29T00:15:00.000,1754,15.71,76,39.25,0,2,4,45.75,Credit Card,Sun Taxi,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",NaN,NaN,NaN,NaN,NaN,NaN
1,612baec74d4e954096d52c8efdb4639b081c1c74,d1d88b89ceb6d753007b6e795e3c24f4bea905a51e9d47...,2023-11-28T23:45:00.000,2023-11-28T23:45:00.000,182,0.69,32,10,2,0,0,12.5,Credit Card,Flash Cab,41.878865584,-87.625192142,"{'type': 'Point', 'coordinates': [-87.62519214...",8,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
2,5bba4131d8ec7f7648678f105f18b93413a98b8f,1964b524630688b3ead3b4b75a710036898498ce0de967...,2023-11-28T23:45:00.000,2023-11-29T00:00:00.000,1380,17.5,76,41.5,6.83,0,4,52.33,Credit Card,"Taxicab Insurance Agency, LLC",41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",8,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
3,5a9dc0a6f2c8e7c5e8c12ed43a1bfb1cbaa2906b,617d878f0486c82431cd73a6c1cee0992947dea1140244...,2023-11-28T23:45:00.000,2023-11-29T00:00:00.000,720,2.3,8,9.75,2.55,0,0,12.3,Credit Card,Taxi Affiliation Services,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",8,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
4,57219db05e89c0405dbdbef26820d0c27a44b353,356744753023949fa63be6a6d7e0aef31f2d50dd3b0258...,2023-11-28T23:45:00.000,2023-11-29T00:00:00.000,768,9.33,37,24.25,0,0,0,24.25,Cash,Flash Cab,41.80908443,-87.632424524,"{'type': 'Point', 'coordinates': [-87.63242452...",51,41.690633347,-87.570058269,"{'type': 'Point', 'coordinates': [-87.57005826...",NaN,NaN

In [28]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23014 entries, 0 to 23013
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     23014 non-null  object
 1   taxi_id                     23014 non-null  object
 2   trip_start_timestamp        23014 non-null  object
 3   trip_end_timestamp          23014 non-null  object
 4   trip_seconds                23013 non-null  object
 5   trip_miles                  23014 non-null  object
 6   pickup_community_area       22371 non-null  object
 7   fare                        22958 non-null  object
 8   tips                        22958 non-null  object
 9   tolls                       22958 non-null  object
 10  extras                      22958 non-null  object
 11  trip_total                  22958 non-null  object
 12  payment_type                23014 non-null  object
 13  company                     23014 non-null  object
 14  pickup_centroid_latitude    22385 non-null  object
 15  pickup_centroid_longitude   22385 non-null  object
 16  pickup_centroid_location    22385 non-null  object
 17  dropoff_community_area      21028 non-null  object
 18  dropoff_centroid_latitude   21151 non-null  object
 19  dropoff_centroid_longitude  21151 non-null  object
 20  dropoff_centroid_location   21151 non-null  object
 21  pickup_census_tract         12766 non-null  object
 22  dropoff_census_tract        12426 non-null  object
dtypes: object(23)
memory usage: 4.0+ MB

In [29]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
count,23014,23014,23014,23014,23013,23014,22371,22958,22958,22958,22958,22958,23014,23014,22385,22385,22385,21028,21151,21151,21151,12766,12426
unique,23014,2427,96,107,3472,2377,77,1227,1070,31,180,2463,7,33,140,140,140,77,158,158,158,64,84
top,60849c0b02b3a7376fc197f0974e545940f9bacd,afd6682bb3e13d9d0fc86c0a11d897f505a5d529808311...,2023-11-28T17:00:00.000,2023-11-28T17:15:00.000,0,0,8,9,0,0,0,3.25,Credit Card,Flash Cab,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",8,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031980000,17031839100
freq,1,35,500,507,474,2351,5001,869,10162,22854,15158,510,10554,4343,2176,2176,2176,5700,1716,1716,1716,2176,1716

In [30]:
taxi_trips[taxi_trips['fare'].isna()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
83,725b7d9c412e6a6577c67eb16b5655f30ba80afa,6dbac74c2838addb28d0bf34cf126cf1624cc61180bfb2...,2023-11-28T23:45:00.000,2023-11-28T23:45:00.000,82,0,76,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",76,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",17031980000,17031980000
1116,94ce87062917dbbc2b37dedfab2e6ae888537a2b,053486cd912ae399d28c26d6976cf507140df78ec57d09...,2023-11-28T21:45:00.000,2023-11-28T22:00:00.000,701,3.18,8,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",7,41.922686284,-87.649488729,"{'type': 'Point', 'coordinates': [-87.64948872...",NaN,NaN
1691,825f37b75cb3a86a97aabf559e14392ef21627a6,053486cd912ae399d28c26d6976cf507140df78ec57d09...,2023-11-28T21:00:00.000,2023-11-28T21:15:00.000,1106,11.45,76,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",21,41.938666196,-87.711210593,"{'type': 'Point', 'coordinates': [-87.71121059...",NaN,NaN
2327,ccfcb6538e14ebe52f9562e2027715aaa82445fe,4b2d5e8743e0e17dd683ef83f701a7c54ab50ffa532484...,2023-11-28T20:15:00.000,2023-11-28T20:30:00.000,1066,3.07,8,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.892042136,-87.63186395,"{'type': 'Point', 'coordinates': [-87.63186394...",8,41.898331794,-87.620762865,"{'type': 'Point', 'coordinates': [-87.62076286...",17031081700,17031081300
3296,af3e4534503f1ce4d194a5bd814d548b2050bf06,8c76eb82f069c0731a0049cb78898f02cc5ac6990244c9...,2023-11-28T19:30:00.000,2023-11-28T19:45:00.000,340,0.66,32,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.884987192,-87.620992913,"{'type': 'Point', 'coordinates': [-87.62099291...",8,41.892072635,-87.628874157,"{'type': 'Point', 'coordinates': [-87.62887415...",17031320100,17031081600
3411,6c28fe43c0e156da79ef0213cdccb69484c9a9f0,ed7090d32800eec667900e884a935a298e55efaaaea9d6...,2023-11-28T19:30:00.000,2023-11-28T19:45:00.000,991,8.08,32,NaN,NaN,NaN,NaN,NaN,Cash,City Service,41.878865584,-87.625192142,"{'type': 'Point', 'coordinates': [-87.62519214...",39,41.808916283,-87.596183344,"{'type': 'Point', 'coordinates': [-87.59618334...",NaN,NaN
3707,81d56321ccb70b21b71ba5f71cc5d2fda9658c55,8c76eb82f069c0731a0049cb78898f02cc5ac6990244c9...,2023-11-28T19:15:00.000,2023-11-28T19:15:00.000,270,0.55,32,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",8,41.890922026,-87.618868355,"{'type': 'Point', 'coordinates': [-87.61886835...",17031839100,17031081403
3846,271d7ccd9eafd7428baf1022677ccaa0fdc7ad90,2dfef94ac1d16ba66be124b628d1e12ddbc86b965a85c1...,2023-11-28T19:15:00.000,2023-11-28T19:15:00.000,279,0.24,32,NaN,NaN,NaN,NaN,NaN,Cash,Globe Taxi,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",32,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031839100,17031839100
4118,7b4c883d9c2e3896cd8353e6af6e58817feceb31,8c76eb82f069c0731a0049cb78898f02cc5ac6990244c9...,2023-11-28T19:00:00.000,2023-11-28T19:00:00.000,513,1.06,8,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.892042136,-87.63186395,"{'type': 'Point', 'coordinates': [-87.63186394...",28,41.885300022,-87.642808466,"{'type': 'Point', 'coordinates': [-87.64280846...",17031081700,17031280100
4234,292f5f3da06348ed97070304b04b96866740488f,0044e6c0d091476299b99345501f756b23632a96cbaf40...,2023-11-28T19:00:00.000,2023-11-28T19:00:00.000,7,0,8,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Independents,41.899155613,-87.626210532,"{'type': 'Point', 'coordinates': [-87.62621053...",8,41.899155613,-87.626210532,"{'type': 'Point', 'coordinates': [-87.62621053...",17031081201,17031081201
4697,0f32ee382aee2a9baadff5bc024073969bc30cde,ed7090d32800eec667900e884a935a298e55efaaaea9d6...,2023-11-28T18:45:00.000,2023-11-28T19:00:00.000,240,1.23,32,NaN,NaN,NaN,NaN,NaN,Cash,City Service,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",28,41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",17031839100,17031281900
6649,7ec38e1ce37f8e88d1b6f1a70c5cf82a40901da8,9b6ede7d36f53ba56a1ec8882cc17703224ac426ba9ef9...,2023-11-28T17:30:00.000,2023-11-28T18:00:00.000,2365,7.9,56,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",NaN,NaN,NaN,NaN,NaN,NaN
6673,6d45d6991f0fff514967fab01944ed0452e2dad2,87a21e5ac34dbe38d564b74375f29cdcc5f88e81aa27d9...,2023-11-28T17:30:00.000,2023-11-28T17:45:00.000,834,1.6,32,NaN,NaN,NaN,NaN,NaN,Cash,Flash Cab,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",8,41.89321636,-87.63784421,"{'type': 'Point', 'coordinates': [-87.63784420...",17031839100,17031081800
6873,fc8982c530975666c01316d6425b8b65717f3a3c,188e63748dd6e23e0c2c8b9d331fd6e1b6f6dba8693e35...,2023-11-28T17:15:00.000,2023-11-28T17:15:00.000,678,2.83,76,NaN,NaN,NaN,NaN,NaN,Cash,City Service,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",NaN,41.982775009,-87.8773054,"{'type': 'Point', 'coordinates': [-87.87730539...",17031980000,17031770700
7087,81eae5581efcc210a9ebb383031f5b6745d14547,153cb22f850a08c9f53fad42c06ae36f72e23b58abeeaa...,2023-11-28T17:15:00.000,2023-11-28T18:15:00.000,3465,15.29,76,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Taxicab,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",6,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",NaN,NaN
7582,7c66a3c67758cc724ba50c60014594a48fb70e8b,b15d5dba7f578c2e93e08c66d7a9b57bc35c9f316265cb...,2023-11-28T17:00:00.000,2023-11-28T17:45:00.000,2271,16.78,76,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",NaN,NaN,NaN,NaN,NaN,NaN
7765,147d3954eb0fa60d7b92fca0ac7b7b49b4a0cc8c,11cec1092eb4f4b50433778d436f251983dd37d567f709...,2023-11-28T17:00:00.000,2023-11-28T17:45:00.000,3325,17.55,76,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",32,41.884987192,-87.620992913,"{'type': 'Point', 'coordinates': [-87.62099291...",17031980000,17031320100
8170,47bca4baeea9a9490c583748898c41684834254e,2407ff99e367ceb469a8cc6663e6ad6ec51fb0f401d370...,2023-11-28T16:45:00.000,2023-11-28T17:45:00.000,3393,18.6,76,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",8,41.900265687,-87.63210922,"{'type': 'Point', 'coordinates': [-87.63210921...",17031980000,17031081000
8357,de58d303cc0782ac835424d320cea4daf5fb50d9,180309cc29892cd16348ef74d7dd6f33af87e585a29b62...,2023-11-28T16:30:00.000,2023-11-28T18:00:00.000,5168,13.23,56,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",NaN,NaN,NaN,NaN,NaN,NaN
9391,8c58fc58c2fb935951cfb722de0fc17eabe74ee2,17561b2493682865136063664df49b8a74d4c7e67e0ccf...,2023-11-28T16:00:00.000,2023-11-28T16:15:00.000,439,0.78,32,NaN,NaN,NaN,NaN,NaN,Cash,Blue Ribbon Taxi Association,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",32,41.884987192,-87.620992913,"{'type': 'Point', 'coordinates': [-87.62099291...",17031839100,17031320100
9469,650cf5643fb1ac925c78031e5df872528ae82819,180309cc29892cd16348ef74d7dd6f33af87e585a29b62...,2023-11-28T16:00:00.000,2023-11-28T16:30:00.000,1411,1.92,56,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",56,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",NaN,NaN
9749,ae8bbec46291c532bd82840c82f6276890278bde,15a05a171949e0f432775bd628d0d70a833e9de8fdf048...,2023-11-28T15:45:00.000,2023-11-28T16:00:00.000,823,4.02,33,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.849246754,-87.624135298,"{'type': 'Point', 'coordinates': [-87.62413529...",28,41.88528132,-87.6572332,"{'type': 'Point', 'coordinates': [-87.65723319...",17031841000,17031833000
10844,b77e686800ba6b82142838ab3c1af6874054a0ab,3671b00a8d3d78e49e75a0eb9796fbfa1ab2e07b89d7ed...,2023-11-28T15:00:00.000,2023-11-28T15:00:00.000,4,0,32,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",32,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031839100,17031839100
10914,918c0eb88e16f3cac2cb40927f68231d6e1515e2,17561b2493682865136063664df49b8a74d4c7e67e0ccf...,2023-11-28T15:00:00.000,2023-11-28T15:15:00.000,331,0.78,8,NaN,NaN,NaN,NaN,NaN,Cash,Blue Ribbon Taxi Association,41.907520075,-87.6266589,"{'type': 'Point', 'coordinates': [-87.62665890...",8,41.898331794,-87.620762865,"{'type': 'Point', 'coordinates': [-87.62076286...",17031080100,17031081300
11285,93981ff4c003236ebbb6fd2ac96cec2b952fdacc,b15d5dba7f578c2e93e08c66d7a9b57bc35c9f316265cb...,2023-11-28T14:45:00.000,2023-11-28T15:00:00.000,1743,17.04,76,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",8,41.891971508,-87.612945414,"{'type': 'Point', 'coordinates': [-87.61294541...",17031980000,17031081402
11705,88e1a182fab00fc5ad11bf02193592ded3b03ab9,17561b2493682865136063664df49b8a74d4c7e67e0ccf...,2023-11-28T14:30:00.000,2023-11-28T14:45:00.000,377,0.57,32,NaN,NaN,NaN,NaN,NaN,Cash,Blue Ribbon Taxi Association,41.884987192,-87.620992913,"{'type': 'Point', 'coordinates': [-87.62099291...",8,41.89503345,-87.619710672,"{'type': 'Point', 'coordinates': [-87.61971067...",17031320100,17031081401
12079,664d8aff870fa1c1ee790b73330d2c0663ca9043,3671b00a8d3d78e49e75a0eb9796fbfa1ab2e07b89d7ed...,2023-11-28T14:15:00.000,2023-11-28T14:30:00.000,790,3.13,33,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.849246754,-87.624135298,"{'type': 'Point', 'coordinates': [-87.62413529...",8,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",17031841000,17031081500
12229,aa78fdf463b77d388dd22fe7116beecc30c8edeb,3bbda357f5d7b4f86d15cd574862ba30dc992a696061f1...,2023-11-28T14:15:00.000,2023-11-28T14:15:00.000,1,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash,5 Star Taxi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12313,bd23bedd33555e3fab33cca846c9013779845f59,053486cd912ae399d28c26d6976cf507140df78ec57d09...,2023-11-28T14:00:00.000,2023-11-28T14:15:00.000,378,1.45,32,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",8,41.890922026,-87.618868355,"{'type': 'Point', 'coordinates': [-87.61886835...",17031839100,17031081403
12327,b42d6d9f4eb468732296e33b14a98e5ce440791e,391317d70c5d06deec744062c4595dc1958b200fda8a0c...,2023-11-28T14:00:00.000,2023-11-28T14:15:00.000,258,0.42,8,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.899155613,-87.626210532,"{'type': 'Point', 'coordinates': [-87.62621053...",8,41.89503345,-87.619710672,"{'type': 'Point', 'coordinates': [-87.61971067...",17031081201,17031081401
12711,79efa3b7e7428eedde4af8a6e589b1eed9676e05,dff8b2296e1abd3c3470a2f0765b3f385f9a53c8df1cc3...,2023-11-28T13:45:00.000,2023-11-28T14:00:00.000,1278,3.6,8,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Independents,41.899155613,-87.626210532,"{'type': 'Point', 'coordinates': [-87.62621053...",33,41.859349715,-87.617358006,"{'type': 'Point', 'coordinates': [-87.61735800...",17031081201,17031330100
13563,1d0f9a993b4ce0fc1cdd5648e609381121eca77a,2407ff99e367ceb469a8cc6663e6ad6ec51fb0f401d370...,2023-11-28T13:15:00.000,2023-11-28T13:45:00.000,1673,17.81,76,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",8,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",17031980000,17031081500
13945,0042948ba6668abf57a1e5129a3bf43a8dc20b48,286e28223cab05d01037fb52fead0f36d84f4b00e159c0...,2023-11-28T13:00:00.000,2023-11-28T13:00:00.000,5,0.01,43,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.761577908,-87.572781987,"{'type': 'Point', 'coordinates': [-87.57278198...",43,41.761577908,-87.572781987,"{'type': 'Point', 'coordinates': [-87.57278198...",NaN,NaN
14803,6a57ed40d37381389dd758bfe6e57cd7e3adaf14,535cbdf78f906572bd87f6818151296de41f60925a4e41...,2023-11-28T12:15:00.000,2023-11-28T12:30:00.000,1088,4.35,8,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.898331794,-87.620762865,"{'type': 'Point', 'coordinates': [-87.62076286...",28,41.867902418,-87.642958665,"{'type': 'Point', 'coordinates': [-87.64295866...",17031081300,17031841900
14834,5804f222df174ed32e2758f42537e079ee3c829b,15a05a171949e0f432775bd628d0d70a833e9de8fdf048...,2023-11-28T12:15:00.000,2023-11-28T13:30:00.000,4334,21.02,76,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",8,41.902788048,-87.62614559,"{'type': 'Point', 'coordinates': [-87.62614558...",17031980000,17031081202
15350,be2d7e86e044acd060f6ccf63ab65c4f4e587400,180309cc29892cd16348ef74d7dd6f33af87e585a29b62...,2023-11-28T11:45:00.000,2023-11-28T12:15:00.000,1654,0.3,56,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",56,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",NaN,NaN
15444,7c3ca629421022a10516ebbf7dd285d5ef0363d6,0044e6c0d091476299b99345501f756b23632a96cbaf40...,2023-11-28T11:45:00.000,2023-11-28T12:00:00.000,402,1.89,7,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Independents,41.922082541,-87.634156093,"{'type': 'Point', 'coordinates': [-87.63415609...",8,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",17031071400,17031081500
15734,b384682e8b05b9b072bf99670ca902cfc11c8ffe,286e28223cab05d01037fb52fead0f36d84f4b00e159c0...,2023-11-28T11:30:00.000,2023-11-28T11:30:00.000,330,0.57,8,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",8,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
15757,a407236ce8410baf4fee6ba3788269d2ed4b89b6,535cbdf78f906572bd87f6818151296de41f60925a4e41...,2023-11-28T11:30:00.000,2023-11-28T11:45:00.000,562,2.51,28,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",8,41.89503345,-87.619710672,"{'type': 'Point', 'coordinates': [-87.61971067...",17031281900,17031081401
16249,2b3e8b999e77e24a6993ed60e037e24bc159856a,dff8b2296e1abd3c3470a2f0765b3f385f9a53c8df1cc3...,2023-11-28T11:15:00.000,2023-11-28T11:15:00.000,273,0.79,8,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Independents,41.907520075,-87.6266589,"{'type': 'Point', 'coordinates': [-87.62665890...",8,41.892072635,-87.628874157,"{'type': 'Point', 'coordinates': [-87.62887415...",17031080100,17031081600
16383,c56f7ced3fb7850a001550d4f59ac615c016c504,6720823f69b50c9a8a9ff80710482b6c4ca30ea1e173d5...,2023-11-28T11:00:00.000,2023-11-28T11:00:00.000,198,0.38,8,NaN,NaN,NaN,NaN,NaN,Cash,City Service,41.89503345,-87.619710672,"{'type': 'Point', 'coordinates': [-87.61971067...",8,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",17031081401,17031081500
16690,e13bb01e871c6aed167d65e17d3cd88ed4b35532,535cbdf78f906572bd87f6818151296de41f60925a4e41...,2023-11-28T10:45:00.000,2023-11-28T11:00:00.000,692,2.05,28,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",8,41.890922026,-87.618868355,"{'type': 'Point', 'coordinates': [-87.61886835...",17031281900,17031081403
16903,37bc1b52cea18d1fe659fd3c789eaa26eb205ef1,391317d70c5d06deec744062c4595dc1958b200fda8a0c...,2023-11-28T10:45:00.000,2023-11-28T11:00:00.000,866,1.7,8,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.899155613,-87.626210532,"{'type': 'Point', 'coordinates': [-87.62621053...",32,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031081201,17031839100
17840,62f8a731bf5c76596c775afa3b2f0c820ee08006,3671b00a8d3d78e49e75a0eb9796fbfa1ab2e07b89d7ed...,2023-11-28T10:00:00.000,2023-11-28T10:00:00.000,600,1.47,28,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",8,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",17031281900,17031081500
18064,ca6b64734242958b2ac0e76ec6980dd1721a17d0,17561b2493682865136063664df49b8a74d4c7e67e0ccf...,2023-11-28T09:45:00.000,2023-11-28T10:00:00.000,1025,3.57,32,NaN,NaN,NaN,NaN,NaN,Cash,Blue Ribbon Taxi Association,41.878865584,-87.625192142,"{'type': 'Point', 'coordinates': [-87.62519214...",24,41.901206994,-87.676355989,"{'type': 'Point', 'coordinates': [-87.67635598...",NaN,NaN
18811,c275e7f9d48ecffaa309595a0d5dabae4c342d1f,2407ff99e367ceb469a8cc6663e6ad6ec51fb0f401d370...,2023-11-28T09:15:00.000,2023-11-28T10:15:00.000,3704,19.92,76,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",24,41.892493167,-87.664745836,"{'type': 'Point', 'coordinates': [-87.66474583...",17031980000,17031243300
19466,fe10027a3ff470b76d1f6d2e525a4be5b0d7cebe,6720823f69b50c9a8a9ff80710482b6c4ca30ea1e173d5...,2023-11-28T08:45:00.000,2023-11-28T08:45:00.000,257,1.06,28,NaN,NaN,NaN,NaN,NaN,Cash,City Service,41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",28,41.867902418,-87.642958665,"{'type': 'Point', 'coordinates': [-87.64295866...",17031281900,17031841900
20014,8b7ec04c574d9b2a1a42124551e6558d3bbe2115,286e28223cab05d01037fb52fead0f36d84f4b00e159c0...,2023-11-28T08:30:00.000,2023-11-28T08:30:00.000,245,0.1,76,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",76,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",17031980000,17031980000
20144,25261107ffa2de279b6a66c2c972273ef783d2ec,535cbdf78f906572bd87f6818151296de41f60925a4e41...,2023-11-28T08:30:00.000,2023-11-28T08:30:00.000,600,2.02,28,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",8,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",17031281900,17031081500
20755,430be98f721158e9039291daeeacdb91fd37790d,c797f1560410b9db343567ea7c8e4095f66ceb65800fa4...,2023-11-28T08:00:00.000,2023-11-28T08:30:00.000,1930,7.54,10,NaN,NaN,NaN,NaN,NaN,Cash,Flash Cab,41.985015101,-87.804532006,"{'type': 'Point', 'coordinates': [-87.80453200...",16,41.953582125,-87.72345239,"{'type': 'Point', 'coordinates': [-87.72345239...",NaN,NaN
20834,0ef36c993e7d17d9d15a8e887500d91908583f18,535cbdf78f906572bd87f6818151296de41f60925a4e41...,2023-11-28T08:00:00.000,2023-11-28T08:00:00.000,552,2.99,32,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.877406123,-87.621971652,"{'type': 'Point', 'coordinates': [-87.62197165...",33,41.859349715,-87.617358006,"{'type': 'Point', 'coordinates': [-87.61735800...",17031320400,17031330100
21660,bdd3f3f80c2f6f8af34870b2233b9eba4c404b74,535cbdf78f906572bd87f6818151296de41f60925a4e41...,2023-11-28T07:00:00.000,2023-11-28T07:00:00.000,153,0.72,28,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",32,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031281900,17031839100

#### Transformation: deal with NaN values

In [31]:
# there are too many NaNs in these columns

taxi_trips.drop(['pickup_census_tract', 'dropoff_census_tract'], axis=1, inplace=True)

In [32]:
# there is duplicated data in these columns

taxi_trips.drop(['pickup_centroid_location', 'dropoff_centroid_location'], axis=1, inplace=True)

In [33]:
taxi_trips.dropna(inplace=True)

In [34]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20864 entries, 1 to 23013
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     20864 non-null  object
 1   taxi_id                     20864 non-null  object
 2   trip_start_timestamp        20864 non-null  object
 3   trip_end_timestamp          20864 non-null  object
 4   trip_seconds                20864 non-null  object
 5   trip_miles                  20864 non-null  object
 6   pickup_community_area       20864 non-null  object
 7   fare                        20864 non-null  object
 8   tips                        20864 non-null  object
 9   tolls                       20864 non-null  object
 10  extras                      20864 non-null  object
 11  trip_total                  20864 non-null  object
 12  payment_type                20864 non-null  object
 13  company                     20864 non-null  object
 14  pickup_centroid_latitude    20864 non-null  object
 15  pickup_centroid_longitude   20864 non-null  object
 16  dropoff_community_area      20864 non-null  object
 17  dropoff_centroid_latitude   20864 non-null  object
 18  dropoff_centroid_longitude  20864 non-null  object
dtypes: object(19)
memory usage: 3.2+ MB

#### Transformation: renaming

In [35]:
taxi_trips.rename(
    columns={
        'pickup_community_area': 'pickup_community_area_id',
        'dropoff_community_area': 'dropoff_community_area_id'
    },
    inplace=True
)

In [36]:
taxi_trips.columns

Index(['trip_id', 'taxi_id', 'trip_start_timestamp', 'trip_end_timestamp',
       'trip_seconds', 'trip_miles', 'pickup_community_area_id', 'fare',
       'tips', 'tolls', 'extras', 'trip_total', 'payment_type', 'company',
       'pickup_centroid_latitude', 'pickup_centroid_longitude',
       'dropoff_community_area_id', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude'],
      dtype='object')

#### Transformation: create helper column for weather

In [37]:
taxi_trips['trip_start_timestamp'] = pd.to_datetime(taxi_trips['trip_start_timestamp'])

In [38]:
taxi_trips['datetime_for_weather'] = taxi_trips['trip_start_timestamp'].dt.floor('h')

In [39]:
taxi_trips['datetime_for_weather']

1       2023-11-28 23:00:00
2       2023-11-28 23:00:00
3       2023-11-28 23:00:00
4       2023-11-28 23:00:00
5       2023-11-28 23:00:00
                ...
23009   2023-11-28 00:00:00
23010   2023-11-28 00:00:00
23011   2023-11-28 00:00:00
23012   2023-11-28 00:00:00
23013   2023-11-28 00:00:00
Name: datetime_for_weather, Length: 20864, dtype: datetime64[ns]

#### Check joining the trips and the weather data

In [40]:
# get weather data and create a dataframe out of it

current_datetime = datetime.now() - relativedelta(months=8)
formatted_datetime = current_datetime.strftime('%Y-%m-%d')

url = 'https://archive-api.open-meteo.com/v1/era5'

params = {
    'latitude': 41.85,
    'longitude': -87.65,
    'start_date': formatted_datetime,
    'end_date': formatted_datetime,
    'hourly': 'temperature_2m,wind_speed_10m,rain,precipitation'
}

response = requests.get(url, params=params)

weather_data = response.json()

weather_data_filtered = {
    'datetime': weather_data['hourly']['time'],
    'temperature': weather_data['hourly']['temperature_2m'],
    'wind_speed': weather_data['hourly']['wind_speed_10m'],
    'rain': weather_data['hourly']['rain'],
    'precipitation': weather_data['hourly']['precipitation'] 
}

weather_df = pd.DataFrame(weather_data_filtered)

weather_df['datetime'] = pd.to_datetime(weather_df['datetime'])

weather_df.head()

             datetime  temperature  wind_speed  rain  precipitation
0 2023-11-28 00:00:00         -5.2        22.3   0.0            0.0
1 2023-11-28 01:00:00         -7.1        24.1   0.0            0.0
2 2023-11-28 02:00:00         -7.4        24.5   0.0            0.0
3 2023-11-28 03:00:00         -7.4        25.4   0.0            0.0
4 2023-11-28 04:00:00         -7.8        24.5   0.0            0.0

In [41]:
taxi_trips_with_weather = taxi_trips.merge(weather_df, left_on='datetime_for_weather', right_on='datetime')

In [42]:
taxi_trips_with_weather.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,datetime,temperature,wind_speed,rain,precipitation
0,612baec74d4e954096d52c8efdb4639b081c1c74,d1d88b89ceb6d753007b6e795e3c24f4bea905a51e9d47...,2023-11-28 23:45:00,2023-11-28T23:45:00.000,182,0.69,32,10,2,0,0,12.5,Credit Card,Flash Cab,41.878865584,-87.625192142,8,41.899602111,-87.633308037,2023-11-28 23:00:00,2023-11-28 23:00:00,-6.1,17.0,0.0,0.0
1,5bba4131d8ec7f7648678f105f18b93413a98b8f,1964b524630688b3ead3b4b75a710036898498ce0de967...,2023-11-28 23:45:00,2023-11-29T00:00:00.000,1380,17.5,76,41.5,6.83,0,4,52.33,Credit Card,"Taxicab Insurance Agency, LLC",41.980264315,-87.913624596,8,41.899602111,-87.633308037,2023-11-28 23:00:00,2023-11-28 23:00:00,-6.1,17.0,0.0,0.0
2,5a9dc0a6f2c8e7c5e8c12ed43a1bfb1cbaa2906b,617d878f0486c82431cd73a6c1cee0992947dea1140244...,2023-11-28 23:45:00,2023-11-29T00:00:00.000,720,2.3,8,9.75,2.55,0,0,12.3,Credit Card,Taxi Affiliation Services,41.899602111,-87.633308037,8,41.899602111,-87.633308037,2023-11-28 23:00:00,2023-11-28 23:00:00,-6.1,17.0,0.0,0.0
3,57219db05e89c0405dbdbef26820d0c27a44b353,356744753023949fa63be6a6d7e0aef31f2d50dd3b0258...,2023-11-28 23:45:00,2023-11-29T00:00:00.000,768,9.33,37,24.25,0,0,0,24.25,Cash,Flash Cab,41.80908443,-87.632424524,51,41.690633347,-87.570058269,2023-11-28 23:00:00,2023-11-28 23:00:00,-6.1,17.0,0.0,0.0
4,534ec91321a3c3ab9546f0cae065fa613e267c89,73f5b27a1d7b5ec09f3e4a3a046ba82ceff9229b7a494e...,2023-11-28 23:45:00,2023-11-28T23:45:00.000,5,0,33,29,7.38,0,0,36.88,Credit Card,City Service,41.857183858,-87.620334624,33,41.857183858,-87.620334624,2023-11-28 23:00:00,2023-11-28 23:00:00,-6.1,17.0,0.0,0.0

#### Transformation: data type conversions

In [43]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20864 entries, 1 to 23013
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     20864 non-null  object
 1   taxi_id                     20864 non-null  object
 2   trip_start_timestamp        20864 non-null  datetime64[ns]
 3   trip_end_timestamp          20864 non-null  object
 4   trip_seconds                20864 non-null  object
 5   trip_miles                  20864 non-null  object
 6   pickup_community_area_id    20864 non-null  object
 7   fare                        20864 non-null  object
 8   tips                        20864 non-null  object
 9   tolls                       20864 non-null  object
 10  extras                      20864 non-null  object
 11  trip_total                  20864 non-null  object
 12  payment_type                20864 non-null  object
 13  company                     20864 non-null  object
 14  pickup_centroid_latitude    20864 non-null  object
 15  pickup_centroid_longitude   20864 non-null  object
 16  dropoff_community_area_id   20864 non-null  object
 17  dropoff_centroid_latitude   20864 non-null  object
 18  dropoff_centroid_longitude  20864 non-null  object
 19  datetime_for_weather        20864 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(18)
memory usage: 3.3+ MB

In [44]:
taxi_trips.head(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
1,612baec74d4e954096d52c8efdb4639b081c1c74,d1d88b89ceb6d753007b6e795e3c24f4bea905a51e9d47...,2023-11-28 23:45:00,2023-11-28T23:45:00.000,182,0.69,32,10,2,0,0,12.5,Credit Card,Flash Cab,41.878865584,-87.625192142,8,41.899602111,-87.633308037,2023-11-28 23:00:00
2,5bba4131d8ec7f7648678f105f18b93413a98b8f,1964b524630688b3ead3b4b75a710036898498ce0de967...,2023-11-28 23:45:00,2023-11-29T00:00:00.000,1380,17.5,76,41.5,6.83,0,4,52.33,Credit Card,"Taxicab Insurance Agency, LLC",41.980264315,-87.913624596,8,41.899602111,-87.633308037,2023-11-28 23:00:00
3,5a9dc0a6f2c8e7c5e8c12ed43a1bfb1cbaa2906b,617d878f0486c82431cd73a6c1cee0992947dea1140244...,2023-11-28 23:45:00,2023-11-29T00:00:00.000,720,2.3,8,9.75,2.55,0,0,12.3,Credit Card,Taxi Affiliation Services,41.899602111,-87.633308037,8,41.899602111,-87.633308037,2023-11-28 23:00:00
4,57219db05e89c0405dbdbef26820d0c27a44b353,356744753023949fa63be6a6d7e0aef31f2d50dd3b0258...,2023-11-28 23:45:00,2023-11-29T00:00:00.000,768,9.33,37,24.25,0,0,0,24.25,Cash,Flash Cab,41.80908443,-87.632424524,51,41.690633347,-87.570058269,2023-11-28 23:00:00
5,534ec91321a3c3ab9546f0cae065fa613e267c89,73f5b27a1d7b5ec09f3e4a3a046ba82ceff9229b7a494e...,2023-11-28 23:45:00,2023-11-28T23:45:00.000,5,0,33,29,7.38,0,0,36.88,Credit Card,City Service,41.857183858,-87.620334624,33,41.857183858,-87.620334624,2023-11-28 23:00:00

In [45]:
data_types = {
    'trip_end_timestamp': 'datetime64[ns]',
    'trip_seconds': 'int32',
    'trip_miles': 'float',
    'pickup_community_area_id': 'int8',
    'dropoff_community_area_id': 'int8',
    'fare': 'float',
    'tips': 'float',
    'tolls': 'float',
    'extras': 'float',
    'trip_total': 'float'
}

taxi_trips = taxi_trips.astype(data_types)

In [46]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20864 entries, 1 to 23013
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     20864 non-null  object
 1   taxi_id                     20864 non-null  object
 2   trip_start_timestamp        20864 non-null  datetime64[ns]
 3   trip_end_timestamp          20864 non-null  datetime64[ns]
 4   trip_seconds                20864 non-null  int32
 5   trip_miles                  20864 non-null  float64
 6   pickup_community_area_id    20864 non-null  int8
 7   fare                        20864 non-null  float64
 8   tips                        20864 non-null  float64
 9   tolls                       20864 non-null  float64
 10  extras                      20864 non-null  float64
 11  trip_total                  20864 non-null  float64
 12  payment_type                20864 non-null  object
 13  company                     20864 non-null  object
 14  pickup_centroid_latitude    20864 non-null  object
 15  pickup_centroid_longitude   20864 non-null  object
 16  dropoff_community_area_id   20864 non-null  int8
 17  dropoff_centroid_latitude   20864 non-null  object
 18  dropoff_centroid_longitude  20864 non-null  object
 19  datetime_for_weather        20864 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int8(2), object(8)
memory usage: 3.0+ MB

In [47]:
taxi_trips.describe()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,dropoff_community_area_id,datetime_for_weather
count,20864,20864,20864.000000,20864.000000,20864.000000,20864.000000,20864.000000,20864.000000,20864.000000,20864.000000,20864.000000,20864
mean,2023-11-28 14:10:59.082630144,2023-11-28 14:29:12.851801856,1090.543760,5.335103,32.721434,19.193525,2.682124,0.216145,1.350321,23.657020,25.853623,2023-11-28 13:48:23.776840448
min,2023-11-28 00:00:00,2023-11-28 00:00:00,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2023-11-28 00:00:00
25%,2023-11-28 10:15:00,2023-11-28 10:45:00,423.000000,0.850000,8.000000,7.500000,0.000000,0.000000,0.000000,9.500000,8.000000,2023-11-28 10:00:00
50%,2023-11-28 14:30:00,2023-11-28 15:00:00,781.500000,2.120000,32.000000,11.750000,2.000000,0.000000,0.000000,14.700000,28.000000,2023-11-28 14:00:00
75%,2023-11-28 18:00:00,2023-11-28 18:15:00,1481.000000,9.380000,36.000000,30.000000,3.520000,0.000000,1.000000,31.750000,32.000000,2023-11-28 18:00:00
max,2023-11-28 23:45:00,2023-11-29 15:15:00,83090.000000,583.500000,77.000000,327.000000,50.000000,4444.440000,4445.440000,8898.130000,77.000000,2023-11-28 23:00:00
std,NaN,NaN,1389.634261,7.456170,23.268281,15.794734,3.567244,30.769515,30.909576,64.360439,19.233394,NaN

#### Memory usage

In [48]:
# Raw: 24,895,459 -- 25 MB
# Dtype optimized: 15,034,308 -- 15 MB

taxi_trips.memory_usage(deep=True).sum()

15034308

#### Sanity checks

In [52]:
taxi_trips[taxi_trips['trip_end_timestamp'] == taxi_trips['trip_end_timestamp'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
9464,6467acb9d24d1145ded7f7f711f2b5f915f26f86,b58ac6538fb9dd4525ded8eb5af799c465e22d2b9899c5...,2023-11-28 16:00:00,2023-11-29 15:15:00,83090,2.94,8,13.5,0.0,0.0,0.0,13.5,Cash,Star North Taxi Management Llc,41.899602111,-87.633308037,16,41.953582125,-87.72345239,2023-11-28 16:00:00

In [53]:
taxi_trips[taxi_trips['trip_seconds'] == taxi_trips['trip_seconds'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
9464,6467acb9d24d1145ded7f7f711f2b5f915f26f86,b58ac6538fb9dd4525ded8eb5af799c465e22d2b9899c5...,2023-11-28 16:00:00,2023-11-29 15:15:00,83090,2.94,8,13.5,0.0,0.0,0.0,13.5,Cash,Star North Taxi Management Llc,41.899602111,-87.633308037,16,41.953582125,-87.72345239,2023-11-28 16:00:00

In [54]:
taxi_trips[taxi_trips['fare'] == taxi_trips['fare'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
7646,5be907678670d0f9e385bdfd576748edf8c20ca9,b9012546c0b682fd7fbdc751f741a1629ae72d559fa8b0...,2023-11-28 17:00:00,2023-11-29 09:00:00,58298,0.0,35,327.0,0.0,0.0,0.0,327.0,Cash,Globe Taxi,41.835117986,-87.618677767,35,41.835117986,-87.618677767,2023-11-28 17:00:00

In [61]:
taxi_trips.nlargest(10, 'fare')

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
7646,5be907678670d0f9e385bdfd576748edf8c20ca9,b9012546c0b682fd7fbdc751f741a1629ae72d559fa8b0...,2023-11-28 17:00:00,2023-11-29 09:00:00,58298,0.00,35,327.00,0.0,0.0,0.0,327.00,Cash,Globe Taxi,41.835117986,-87.618677767,35,41.835117986,-87.618677767,2023-11-28 17:00:00
2692,56ca3ad2883f4ab9f3c629f2badd14358586edbc,1db11e4e66375f35ed6a59eb06eb997fc7e23e3fdcbb3b...,2023-11-28 20:00:00,2023-11-28 20:00:00,5,0.00,61,220.00,0.0,0.0,0.0,220.00,Cash,Taxicab Insurance Agency Llc,41.80901825,-87.659166599,61,41.80901825,-87.659166599,2023-11-28 20:00:00
11063,29ab456635cdce78abcca280e12fb930732d8b8d,812a102cba7b10df06579c03959cac93b0576b36046e81...,2023-11-28 15:00:00,2023-11-28 15:00:00,18,0.00,15,200.00,0.0,0.0,0.0,200.00,Cash,Chicago Independents,41.942488155,-87.747154322,15,41.942488155,-87.747154322,2023-11-28 15:00:00
11049,3c206c18033060e2e3613609b259ad9caca701af,812a102cba7b10df06579c03959cac93b0576b36046e81...,2023-11-28 15:00:00,2023-11-28 15:00:00,57,0.00,15,196.00,0.0,0.0,0.0,196.00,Cash,Chicago Independents,41.942488155,-87.747154322,15,41.942488155,-87.747154322,2023-11-28 15:00:00
2609,9e72eb092c5e2f092f08b43ed095717064186836,1db11e4e66375f35ed6a59eb06eb997fc7e23e3fdcbb3b...,2023-11-28 20:00:00,2023-11-28 20:00:00,8,0.00,61,150.00,0.0,0.0,0.0,150.00,Cash,Taxicab Insurance Agency Llc,41.80901825,-87.659166599,61,41.80901825,-87.659166599,2023-11-28 20:00:00
11066,2513c034b397f156fc017a01ce0511707437d233,812a102cba7b10df06579c03959cac93b0576b36046e81...,2023-11-28 15:00:00,2023-11-28 15:00:00,15,0.00,15,150.00,0.0,0.0,0.0,150.00,Cash,Chicago Independents,41.942488155,-87.747154322,15,41.942488155,-87.747154322,2023-11-28 15:00:00
22568,d860587940d6b84cb8d001d4c13e9598914b0dc2,1bb291b27cad860cc5e09ee3aea1261128edd297b00374...,2023-11-28 02:00:00,2023-11-28 07:45:00,20885,2.95,76,124.25,0.0,0.0,0.0,124.25,Cash,Sun Taxi,41.980264315,-87.913624596,76,41.980264315,-87.913624596,2023-11-28 02:00:00
11433,2ae7f3cec8a2c436528951654c617d304e71673d,3be1d88806516b1ce4d89aa549af3a327d85bcfd3dc06d...,2023-11-28 14:45:00,2023-11-28 16:00:00,4992,49.04,76,118.25,0.0,0.0,0.0,118.25,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,76,41.97907082,-87.903039661,2023-11-28 14:00:00
16106,ad687b9307fdf18a615b43814e7d97fe4fe92e19,d6ce95b77b84d97b8ef41b3410ede13388e250cba571fb...,2023-11-28 11:15:00,2023-11-28 13:45:00,9185,36.84,40,112.50,0.0,0.0,0.0,112.50,Cash,5 Star Taxi,41.792357223,-87.61793138,40,41.792357223,-87.61793138,2023-11-28 11:00:00
10820,c94b66da0e558dc7cb8480b523997e2f3540b4f4,4c06f4d6622cc4aecd182ded5c68ec252842a98a41c8b7...,2023-11-28 15:00:00,2023-11-28 16:30:00,4920,2.70,42,110.75,0.0,0.0,0.0,110.75,Cash,Taxi Affiliation Services,41.77887686,-87.594925439,48,41.729676423,-87.572717134,2023-11-28 15:00:00