#### Task 1: Which 10 companies make the most money? Use two columns: Company name and the sum of the fare. Order by descending order. Make sure that the sum of the fares (total_fare) is not in scientific notation.

In [ ]:
'''
SELECT 
    c.company AS company_name, 
    ROUND(SUM(tt.fare), 2) AS total_fare
FROM 
    chicago_taxi_db.taxi_trips tt
INNER JOIN 
    chicago_taxi_db.company c 
    ON tt.company_id = c.company_id
GROUP BY 
    c.company
ORDER BY 
    total_fare DESC
LIMIT 10;
'''

#### Task 2: Show the 10 pickup community areas with the most rides. Use two columns: community area name and count of rides per area, in descending order for the rides.

In [ ]:
'''
SELECT
    ca.community_name,
    COUNT(tt.trip_id) AS count_of_rides
FROM
    chicago_taxi_db.taxi_trips tt
INNER JOIN
    chicago_taxi_db.community_areas ca
    ON tt.pickup_community_area_id = ca.area_code
GROUP BY
    ca.community_name
ORDER BY
    count_of_rides DESC
LIMIT 10;
'''

#### Task 3: Get the count of taxi rides per day of week. In other words, we'd like to see which day has the most rides. Use the names of the days instead of numbers (Monday = 1, Tuesday = 2, etc.). HINT: Check CASE WHEN statements for replacing names of days. For ordering the results by the day you can use MIN(day_of_the_week).

In [ ]:
'''
SELECT
    CASE DAY_OF_WEEK(datetime_for_weather)
        WHEN 1 THEN 'Monday'
        WHEN 2 THEN 'Tuesday'
        WHEN 3 THEN 'Wednesday'
        WHEN 4 THEN 'Thursday'
        WHEN 5 THEN 'Friday'
        WHEN 6 THEN 'Saturday'
        ELSE 'Sunday'
    END AS weekdays,
    COUNT(trip_id) AS count_of_rides
FROM
    chicago_taxi_db.taxi_trips
GROUP BY
    DAY_OF_WEEK(datetime_for_weather)
ORDER BY
    count_of_rides DESC;
'''